    body {
        font-family: "Lato", sans-serif;
    }
    
    .sidebar {
        height: 100%;
        width: 165px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: teal;
        overflow-x: hidden;
        padding-top: 16px;
    }
    
    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #f1f1f1;
        display: block;
    }
    
    .sidebar a:hover {
        color: #000000;
    }
    
    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        padding: 0px 10px;
    }
    
    @media screen and (max-width: 900px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #container {
        display: flex;
        height: 125px;
    }
    
    #salir {
        margin-left: auto;
        align-items: center;
        font-size: large;
        display: flex;
    }
    
    #usuarios {
        float: right;
    }
    /* Configuracion Cliente/Arbitro */
    
    p {
        text-align: justify;
    }
    
    p a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
    
    .w3-container {
        height: 80px;
    }
    
    #disponibilidades {
        float: right;
    }
    
    #anexo {
        float: left;
    }